
@font-face {
  font-family: 'chinesePixel';
  src: url('./chinesePixel.eot'),
      url('./chinesePixel.eot?#iefix') format('embedded-opentype'),
      url('./chinesePixel.woff') format('woff'),
      url('./chinesePixel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
